.history-center {
  background-color: #fff;
  height: calc(100vh - 90px);
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  padding: 15px;
  border-radius: 10px 10px 0px 0px;
  padding-bottom: 0px;
}

.history-center::-webkit-scrollbar {
  display: block;
  width: 4px;
  background-color: transparent;
  border-radius: 10px;
}

.history-center:hover::-webkit-scrollbar-thumb {
  background: #00ecc2;
  border-radius: 100px;
}

.history-center .card {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  background: rgba(248, 248, 249, 0.5);
  padding: 10px;
  border-radius: 10px;
  border: 2px solid transparent;
}

.history-center .card:hover {
  border: 2px solid #00ecc2;
  background: rgba(0, 236, 194, 0.05);
}

.history-center .card .name {
  font-weight: 600;
}

.history-center .card .generate {
  font-size: 12px;
  font-weight: 500;
  cursor: pointer;
  padding: 5px 10px;
  border: 1.5px solid #00ECC2;
  border-radius: 10px;
  letter-spacing: 0.02em;
}

.history-center .card .generate:hover {
  background-color: #00ECC2;
  color: #fff;
}

.history-center .card .title-container {
  display: flex;
  justify-content: space-between;
}

.history-center .card .title-container .date {
  font-size: 13px;
  margin-left: 20px;
}

.history-center .card .ans-container {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.history-center .card .buttons-container {
  margin-left: 20px;
  display: flex;
}

.history-center .card .buttons-container svg {
  height: 22px;
  width: 22px;
  margin-left: 15px;
  cursor: pointer;
}

.history-center .card .buttons-container svg:nth-child(1):hover path {
  stroke: #0078FF
}

.history-center .card .buttons-container svg:nth-child(2):hover path {
  stroke: red
}

.history-center .card .info {
  margin-top: 10px;
  font-size: 14px;
  color: #000;
}

.history-center .empty {
  text-align: center;
}

.history-center .empty span {
  color: #00ECC2;
  cursor: pointer;
}

.history-center .loading-card {
  margin-bottom: 10px;
  background: rgba(248, 248, 249);
  border-radius: 3px;
  padding: 15px
}