.center-result {
  height: calc(100vh - 90px);
  border-radius: 10px 10px 0px 0px;
  background-color: #fff;
  padding: 10px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.center-result::-webkit-scrollbar {
  display: block;
  width: 4px;
  background-color: transparent;
  border-radius: 10px;
}

.center-result:hover::-webkit-scrollbar-thumb {
  background: #00ecc2;
  border-radius: 100px;
}

.center-result .question {
  background-color: rgba(248, 248, 249);
  padding: 15px 20px;
  margin-bottom: 10px;
  font-size: 18px;
  border-radius: 5px;
}

.center-result .saved-container .card {
  position: relative;
  background: rgba(248, 248, 249, 0.5);
  padding: 15px 20px;
  font-size: 18px;
  border-radius: 5px;
  margin-bottom: 20px;
  border: 2px solid transparent;
}

.center-result .saved-container .card:hover {
  background: rgba(0, 236, 194, 0.05);
  border: 2px solid #00ecc2;
}

.center-result .saved-container .card svg {
  cursor: pointer;
}

.center-result .saved-container .card .copy-button:hover path {
  stroke: red
}

.center-result .saved-container .card .copy-button2:hover path {
  stroke: #0078FF
}

#copy2 {
  position: absolute;
  top: -1000px;
}

.center-result .loading {
  display: block;
  text-align: center;
}

.center-result .card .copy-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  border: 1px solid #828282;
  padding: 2px 5px;
  border-radius: 5px;
  width: 80px;
  cursor: pointer;
}

.center-result .card .copy-button svg {
  height: 16px;
  margin-left: 5px;
}

.center-result .loading-card {
  background: rgba(248, 248, 249);
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 10px;
}

.center-result .input-container-chat {
  width: calc(100% - 20px);
  position: absolute;
  bottom: 0px;
  background-color: #fff;
  padding-bottom: 10px;
}

.center-result .input-container-chat .text-area-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 15px;
  border-radius: 5px;
  position: relative;
  background-color: #f8f8f9;
}

.center-result .input-container-chat textarea {
  width: 100%;
  resize: none;
  max-height: 200px;
  height: 24px;
  padding-right: 20px;
  border: none;
  outline: none;
  background-color: transparent;
  line-height: 24px;
  overflow-y: scroll;
}

.center-result .input-container-chat textarea::-webkit-scrollbar {
  display: block;
  width: 4px;
  background-color: transparent;
  border-radius: 10px;
}

.center-result .input-container-chat textarea:hover::-webkit-scrollbar-thumb {
  background: #00ecc2;
  border-radius: 100px;
}

.center-result .input-container-chat svg {
  height: 20px;
  width: 20px;
  position: absolute;
  right: 15px;
  cursor: pointer;
  bottom: 12px;
}