.copy-type-center {
  height: calc(100vh - 90px);
  background-color: #fff;
  border-radius: 10px 0px 0px 0px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  padding-bottom: 0px;
}

.copy-type-center form {
  width: 60%;
  height: 50px;
  position: relative;
  align-self: center;
  margin-bottom: 10px;
}

.copy-type-center form input {
  border: 3px solid #00ECC2;
  border-radius: 5px;
  width: 100%;
  height: 50px;
  padding: 0 35px;
}

.copy-type-center form .search {
  position: absolute;
  left: 8px;
  top: 10px;
}

.copy-type-center form .cross {
  position: absolute;
  top: 12px;
  right: 8px;
  cursor: pointer;
}

.copy-type-center .grid {
  overflow: scroll;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-bottom: 10px;
}

.copy-type-center .grid::-webkit-scrollbar {
  display: block;
  width: 4px;
  background-color: transparent;
  border-radius: 10px;
}

.copy-type-center .grid:hover::-webkit-scrollbar-thumb {
  background: #00ecc2;
  border-radius: 100px;
}

.copy-type-center .card {
  display: flex;
  align-items: center;
  background: rgba(248, 248, 249, 0.5);
  border-radius: 10px;
  padding: 15px;
  cursor: pointer;
}

.copy-type-center .card div {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}

.copy-type-center .card img {
  height: 24px;
  width: 24px;
}

.copy-type-center .card span:nth-child(1) {
  font-size: 16px;
  font-weight: 500;
}

.copy-type-center .card span:nth-child(2) {
  font-size: 12px;
  color: #404040;
}

.copy-type-center .card:hover {
  background: rgba(0, 236, 194, 0.05);
}
