.dash-board-right .resources {
  background-color: #fff;
  height: 160px;
  border-radius: 10px 0 0 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dash-board-right .title {
  font-size: 18px;
  font-weight: 500;
}

.dash-board-right .resources a {
  text-decoration: none;
  color: #000;
}

.dash-board-right .resources a:hover {
  color: #00ecc2;
}

.dash-board-right .save {
  height: calc(100vh - 270px);
  background-color: #fff;
  margin-top: 20px;
  border-radius: 10px 0 0 0;
  padding: 10px;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  padding-bottom: 0px;
}

.dash-board-right .save .header {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  align-items: center;
}

.dash-board-right .save .header span:nth-child(2) {
  font-size: 14px;
  font-weight: 300;
  cursor: pointer;
}

.dash-board-right .save .card-container {
  overflow-y: scroll;
  overflow-x: hidden;
  padding-bottom: 10px;
}

.dash-board-right .save .card-container::-webkit-scrollbar {
  display: block;
  width: 4px;
  background-color: transparent;
  border-radius: 10px;
}

.dash-board-right .save .card-container:hover::-webkit-scrollbar-thumb {
  background: #00ecc2;
  border-radius: 100px;
}

.dash-board-right .save .card-container .card {
  margin-top: 10px;
  color: #26272d;
  background: rgba(248, 248, 249, 0.5);
  border-radius: 3px;
  padding: 10px;
}

.dash-board-right .save .card-container .card:hover {
  background: rgba(0, 236, 194, 0.05);
}

.dash-board-right .save p {
  color: #404040;
}

.dash-board-right .blank-message {
  display: block;
  font-size: 14px;
  text-align: center;
  margin-top: 20px;
}

.dash-board-right svg {
  cursor: pointer;
}

.dash-board-right svg:nth-child(1):hover path {
  stroke: #0078FF
}

.dash-board-right svg:nth-child(2):hover path {
  stroke: red
}

.dash-board-right .loading-card {
  margin-top: 10px;
  background: rgba(248, 248, 249);
  border-radius: 3px;
  padding: 15px
}