.editor-center {
    background-color: #fff;
    height: calc(100vh - 90px);
    overflow-y: scroll;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px 15px;
    border-radius: 10px 10px 0px 0px;
}

.editor-center h1 {
   font-size: 24px;
   font-weight: 500;
}