.generate-copy {
  height: calc(100vh - 90px);
  background-color: #fff;
  border-radius: 10px 0px 0px 0px;
  padding: 10px 15px;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

.generate-copy label {
  color: #808080;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.generate-copy .title {
  color: #808080;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.generate-copy select {
  height: 46px;
  border-radius: 3px;
  padding: 0px 10px;
  position: relative;
  background: url("../../assets/Down.svg") no-repeat right;
  -webkit-appearance: none;
  background-position-x: 97%;
  margin-bottom: 10px;
  background-color: #f8f8f9;
  border: none;
  cursor: pointer;
  font-size: 14px;
}

.generate-copy input {
  height: 46px;
  border-radius: 3px;
  padding: 0px 10px;
  background-color: #f8f8f9;
  border: none;
  font-size: 14px;
}

.generate-copy .row {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  color: #808080;
  font-size: 14px;
  font-weight: 500;
}

.generate-copy textarea {
  height: calc(100vh - 75vh);
  min-height: 200px;
  background: #f8f8f9;
  border-radius: 3px;
  overflow: scroll;
  resize: none;
  margin-top: 5px;
  padding: 5px 10px;
  border: none;
  font-size: 14px;
}

.generate-copy button {
  margin-top: 15px;
  width: 200px;
  height: 50px;
  background: #00ECC2;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.generate-copy .inactive {
  background: #f8f8f9;
  color: #808080;
  cursor: not-allowed;
}