.saved-center .saved-container {
  height: calc(100vh - 90px);
  padding: 15px;
  border-radius: 10px 10px 0px 0px;
  overflow: scroll;
  overflow-x: hidden;
  background-color: #fff;
}

.saved-center .saved-container::-webkit-scrollbar {
  display: block;
  width: 4px;
  background-color: transparent;
  border-radius: 10px;
}

.saved-center .saved-container:hover::-webkit-scrollbar-thumb {
  background: #00ecc2;
  border-radius: 100px;
}

.saved-center .saved-container .card {
  position: relative;
  background: rgba(248, 248, 249, 0.5);
  padding: 15px 20px;
  font-size: 18px;
  border-radius: 10px;
  margin-bottom: 20px;
  border: 2px solid transparent
}

.saved-center .saved-container .card:hover {
  border: 2px solid #00ecc2;
  background: rgba(0, 236, 194, 0.05);
}

.saved-center .saved-container .card .info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 14px;
  color: #000;
  margin-top: 5px;
}

.saved-center .saved-container .head {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.saved-center .saved-container .head .title {
  text-transform: capitalize;
  font-weight: 500;
}

.saved-center .saved-container .head div:nth-child(2) {
  display: flex;
  align-items: center;
}

.saved-center .saved-container .head div:nth-child(2) svg {
  cursor: pointer;
}

.saved-center .saved-container .head div:nth-child(2) svg:nth-child(1) {
  margin-right: 15px;
}

.saved-center .saved-container .head div:nth-child(2) svg:nth-child(1):hover path {
  stroke: #0078FF
}

.saved-center .saved-container .head div:nth-child(2) svg:nth-child(2):hover path {
  stroke: red
}

.saved-center .loading-card {
  margin-bottom: 10px;
  background: rgba(248, 248, 249);
  border-radius: 3px;
  padding: 15px
}

.saved-center .loader {
  border: 3px solid #f3f3f3 !important;
  /* Light grey */
  border-top: 2px solid #00ECC2 !important;
  /* Blue */
  border-radius: 50%;
  width: 22px;
  height: 22px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}