@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #f8f8f9;
  font-family: "Poppins", sans-serif;
}

textarea {
  font-family: "Poppins", sans-serif;
}

input {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}

textarea:focus {
  outline: none;
}

*::-webkit-scrollbar {
  display: none;
}

*:focus {
  outline: none;
}

.error-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error-container span:nth-child(2) {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  #root {
    display: none !important;
  }

  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  body::after {
    content: "Please open this website on desktop";
    font-size: 16px;
    text-align: center;
    padding: 50px;
  }
}


.skeleton {
  background-color: #dddbdd;
  border-radius: 10px;
  position: relative;
}

.skeleton::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  background: linear-gradient(90deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.2) 20%,
      transparent);
  animation: shimmer 2s infinite;
  content: "";
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

.loader {
  border: 3px solid #f3f3f3; /* Light grey */
  border-top: 3px solid #00ECC2; /* Blue */
  height: 20px;
  min-height: 20px; 
  width: 20px;
  min-width: 20px;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
